/* editShip.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    text-align: center;
    color: #0073e6;
    margin: 0;
    padding-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #005bb5;
}

.icon-btn {
    position: absolute;
    top: 20px;
    background-color: #0073e6;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.icon-btn#back-btn {
    left: 20px;
}

.icon-btn#back-btn:hover {
    background-color: #005bb5;
}

.icon-btn i {
    margin: 0;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.form-column {
    flex: 1;
    margin: 0 10px;
    background-color: #e6f7ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.two-column-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

h2 {
    text-align: center;
    color: #005bb5;
    grid-column: span 2;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #005bb5;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #0073e6;
    border-radius: 4px;
    background-color: #f0f8ff;
    color: #005bb5;
}

input:focus, select:focus {
    border-color: #005bb5;
    outline: none;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #005bb5;
}
